{% extends 'user/components/base.html' %}
{% load static %}
{% block title %}
	About
{% endblock %}
{% block content %}
    <div class="content">
        <div class="container">
            <div class="content_start">
                <div class="about" id="about">
                    <div class="about_start">
                        <div class="about_text">
                            <h2 class="about_text-title">Я — software engineer<br>
                                веб сайтов и пользовательских <br> интерфейсов</h2>
                        </div>
                        <div class="about_content">
                            <div class="about_content-img">
                                <img id="about_content-img" src="{% static 'images/me.jpg' %}" alt="Me">
                            </div>
                            <div class="about_content-text">
                                <p>
                                    Привет! Меня зовут Джамшид. Я из Ургенча.
                                    Программирование для меня - это прежде всего решение задач бизнеса.
                                    Поэтому, всегда стремлюсь к разработке максимально понятного и высококачественного
                                    продукта для достижения целей моих клиентов.
                                    <br> <br>
                                    Быть программистом цифровых продуктов - это значит создавать отличные впечатления,
                                    необходимость обращать внимание на людей важнее, чем когда-либо.
                                    Меня увлекает изучение поведения людей, которые делают то, что они делают.
                                    Работая с корпоративными клиентами и небольшими стартапами, научил меня, как
                                    создавать и
                                    поддерживать согласованность бренда, принося долгосрочную ценность для клиентов.
                                    <br> <br>
                                    В создании дизайна всегда стараюсь учитывать исследования рынка, вести постоянное
                                    сотрудничество с клиентом для достижения наилучших результатов, сбалансировав
                                    достижение
                                    бизнес-цели и учет потребностей интернет пользователей.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
