{% extends 'user/components/base.html' %}
{% load static %}
{% block title %}
	About
{% endblock %}
{% block content %}
    <div class="content">
        <div class="container">
            <div class="content_start">
                <div class="about" id="about">
                    <div class="about_start">
                        <div class="about_text">
                            <h2 class="about_text-title">{{ site_config.about_title }}</h2>
                        </div>
                        <div class="about_content">
                            <div class="about_content-img">
                                <img id="about_content-img" src="{{ site_config.about_photo.url }}" alt="Me">
                            </div>
                            <div class="about_content-text">
                                <p>
                                    {{ site_config.about_description }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
