{% extends 'user/components/base.html' %}
{% block title %}
Portfolio
{% endblock %}
{% block content %}
    <div class="portfolio">
        <div class="container">
            <div class="content_start">
                <div class="portfolio-container">
                    <a href="https://comparative.amusoft.uz/aboutThePlatform" class="portfolio-item">
                        <img src="https://www.xayrullo.uz/images/web-project-2.jpg" alt="Google Health Platform">
                        <h3>ComparativeStudies</h3>
                        <p>Web Application</p>
                    </a>
                    <a class="portfolio-item">
                        <img src="https://www.xayrullo.uz/images/web-project-2.jpg" alt="Phoenix Digital Agency">
                        <h3>Calorie</h3>
                        <p>Mobile Application</p>
                    </a>
                    <a class="portfolio-item">
                        <img src="https://www.xayrullo.uz/images/web-project-2.jpg" alt="Project Management UI">
                        <h3>Project Management UI</h3>
                        <p>UI/UX Design</p>
                    </a>
                    <a href="https://ubtuit.uz/" class="portfolio-item">
                        <img src="https://www.xayrullo.uz/images/web-project-2.jpg" alt="Google Health Platform">
                        <h3>WebSite University</h3>
                        <p>Web Application</p>
                    </a>
                    <a class="portfolio-item">
                        <img src="https://www.xayrullo.uz/images/web-project-2.jpg" alt="Phoenix Digital Agency">
                        <h3>Calorie</h3>
                        <p>Mobile Application</p>
                    </a>
                    <a class="portfolio-item">
                        <img src="https://www.xayrullo.uz/images/web-project-2.jpg" alt="Project Management UI">
                        <h3>Project Management UI</h3>
                        <p>UI/UX Design</p>
                    </a>
                    <a href="https://ubtuit.uz/" class="portfolio-item">
                        <img src="https://www.xayrullo.uz/images/web-project-2.jpg" alt="Google Health Platform">
                        <h3>WebSite University</h3>
                        <p>Web Application</p>
                    </a>
                    <a class="portfolio-item">
                        <img src="https://www.xayrullo.uz/images/web-project-2.jpg" alt="Phoenix Digital Agency">
                        <h3>Calorie</h3>
                        <p>Mobile Application</p>
                    </a>
                    <a class="portfolio-item">
                        <img src="https://www.xayrullo.uz/images/web-project-2.jpg" alt="Project Management UI">
                        <h3>Project Management UI</h3>
                        <p>UI/UX Design</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}