{% extends 'user/components/base.html' %}
{% block title %}
Portfolio
{% endblock %}
{% block content %}
    <div class="portfolio">
        <div class="container">
            <div class="content_start">
                <div class="portfolio-container">
                    {% for project in projects %}
                        <a href="{{ project.url }}" class="portfolio-item">
                            <img src="{{ project.photo.url }}" alt="{{ project.name }}">
                            <h3>{{ project.name }}</h3>
                            <p>{{ project.type }}</p>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
