{% extends 'user/components/base.html' %}
{% block title %}
	Services
{% endblock %}
{% block content %}
    <div class="content">
        <div class="container">
            <div class="content_start">
                <div class="services" id="services">
                    <div class="services_start">
                        <div class="services_text">
                            <span id="intro" >{{ site_config.services_subtitle }}</span>
                            <h2 id="animete_service">{{ site_config.services_title }}</h2>
                            <div class="services_text-p">
                                <p>{{ site_config.services_description }}
                                </p>
                            </div>
                        </div>
                        <div class="services_icons">
                            {% for service in services %}
                                <div class="service_icon">
                                    <i class="{{ service.photo }}"></i>
                                    {{ service.name }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
