{% extends 'user/components/base.html' %}
{% block title %}
	Services
{% endblock %}
{% block content %}
    <div class="content">
        <div class="container">
            <div class="content_start">
                <div class="services" id="services">
                    <div class="services_start">
                        <div class="services_text">
                            <span id="intro" >A PROBLEM IS A CHANCE FOR YOU TO DO YOUR BEST.</span>
                            <h2 id="animete_service">Skills & Experience</h2>
                            <div class="services_text-p">
                                <p>HTML, CSS, JS, building small and medium web applications with Vue or React, custom
                                    plugins, features, animations, and coding interactive layouts. I have also
                                    full-stack
                                    developer experience with one of the most popular open source CMS on the web -
                                    WordPress
                                </p>
                            </div>
                        </div>
                        <div class="services_icons">
                            {% for service in services %}
                                <div class="service_icon">
                                    <i class="{{ service.photo }}"></i>
                                    {{ service.name }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
