<footer>
    <div class="container">
        <div class="footer-container">
            <div class="logo">
                <p>&copy; {{ site_config.start_time }} - 2024</p>
            </div>
            <div class="contact">
                <p>{{ site_config.address }}</p>
                <p>{{ site_config.phone_number }}<br>
                    <a href="mailto:{{ site_config.email }}">{{ site_config.email }}</a>
                </p>
            </div>
            <div class="social-media">
                {% for link in social_links %}
                    <a href="{{ link.link }}"><i class="{{ link.photo}}"></i></a>
                {% endfor %}
            </div>
        </div>
    </div>
</footer>
